h1 {
font-family: 'Indie Flower', cursive;
}

table{
  background-color: rgb(255,161,147);
}


hr.line{
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 10px 0 0 0;
  border-radius: 20px;
}

body{
  border-style: solid;
}






/*body {
  font-family: sans-serif;
  font-size: 10pt;
  color: rgb( 20, 20, 20 );
}


table {
  border: 1px solid lightblue;
  padding: 10px;
  border-collapse: collapse;
}

tr{
  height: 40px;
}

th, td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(28,158,255);
}

#main-table tr:nth-child(odd){
  background-color: rgb(21,255,178);
  color: white;
  cursor: pointer;
}

#main-table {
  width: 400px;
}


#main-table th:nth-child(odd), #main-table td:nth-child(2) {
  text-align: center;
}

#main-table th:nth-child(even), #main-table td:nth-child(3) {
  text-align: right;
}


.hours-detail {
  width: 400px;
}

.hours-detail th, .hours-detail td {
  text-align: right;
}

tbody:first-child{
  background-color:red;
}*/
